<!DOCTYPE html>
<html>
<head>
  {% load static%}
  <link href="{%static 'css/form1.css'%}" rel="stylesheet"/>
<style type="text/css">
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 152px;
  height: auto;

  
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 150px;
  height: 100px;
  border: 5px solid #ddd;
  border-radius: 4px;
 

}

div.desc {
 
  text-align: center;
}
</style>
</head>
<body>
    <div>
    {% include "staffheader.html" %}
    </div>
    <h1 align="center">CATEGORIES</h1>
    {% for cat in ct %} 

<div class="gallery">
  <a  href="/staffviewprods/{{cat.id}}">
    <img src="{{cat.cat_img}}" alt="image" >
  </a>
  <div class="desc">
      <h4>{{cat.cat_name}}</h4>
      <h5>{{cat.cat_id}}</h5>
       
        
  </div>
</div>

{% endfor %} 



</body>
</html>
