
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text] ,select,textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgba(240, 240, 240, 0.39)
}


input[type=submit] {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:200px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 25px;
  background:rgb(126, 141, 207);
  padding: 20px;
  width:600px;
  margin-left:350px;
 
}
* {
  box-sizing: border-box;
}

input[type=text],input[type=password],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=submit] {
  background-color: rgb(140, 128, 250);
  color: rgb(3, 4, 7);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #0a06d1;
}

.container {
  width: 25%;
 
  border-radius: 5px;
  background-color: grey;
  padding: 40px;
  
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



